
header {
      margin-right: 10px;
      margin-left: 10px;
      width: 940px;
}

.control {
  position: absolute;
  background-color: blue;
}

body {
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #fff;
  font-family: "Arial";
  font-size: .75em;
 }
